# CAP 5771 - Principles of Data Mining 
Haibin Guan 

P.ID 6039501

Email: hguna003@fiu.edu

Homwork 4

#### Chapter 4 & 5  ( Exercise 4.8 & 5.10 )

In [223]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeClassifier, export_graphviz
import graphviz
from IPython.display import display, Math, Latex
import math

Given the following formulas, 
$$ Gini_{branch}=1-\sum_iP_{i}^{2} $$
$$ Gini_{attribute}=\sum_kP_{k}\times Gini_{branch} $$
$$ Entropy=\sum_{i=1}^c-p_{i}\times \log_{2}{p_{i}} $$
$$ IG(A)=Entropy(S)-\sum_{v \epsilon values (A)}\frac{|S_{v}|}{|S|}\times Entropy(S_{v}) $$
$$ ClassificationError=1-maxP_{j} $$

In [263]:
def gini_index(attribute,outcome,data):
    total=len(data)
    print(data[attribute].unique())
    sum=0
    for classes in data[outcome].unique():
            p=float(len(data[data[outcome]==classes])/total)
            sum+=p*p   
    overall_gini=1-sum
    print("The overall Gini Index is ",overall_gini)
    gi=0
    for branch in data[attribute].unique():
        subtable=data[data[attribute]==branch]
        subtotal=len(subtable)
        gini=0
        print(subtotal)
        for classes in subtable[outcome].unique():
            p=float(len(subtable[subtable[outcome]==classes])/subtotal)
            gini+=p*p
        print(1-gini)
        gi+=(1-gini)*(subtotal/total)
    print("Gini Index for the attribute ",attribute, "is " ,gi)
    print("The Gain of Gini Index for the attribute ", attribute, "is ", overall_gini-gi)
    return gi

def entropy(attribute,outcome,data,split_val=0):
    if split_val!=0:
        print('For Split Value: ',split_val)
        new_attribute='new'
        data[new_attribute]=''
        data[new_attribute]=data.apply(lambda row:1 if row[attribute]>split_val else 0, axis=1)
        attribute=new_attribute
    total=len(data)
    class_entropy=0
    IG=0
    for i in data[outcome].unique():
        subtable=data[data[outcome]==i]
        subtotal=len(subtable)
        p=float(len(subtable)/total)
        class_entropy+=-p*math.log(p,2)
    print("The overal entropy is", class_entropy)
    print(data[attribute].unique())
    entropy=0
    for branch in data[attribute].unique():
        subtable=data[data[attribute]==branch]
        subtotal=len(subtable)
        e=0
        print(subtotal)
        for classes in subtable[outcome].unique():
            p=float(len(subtable[subtable[outcome]==classes])/subtotal)
            e+=-p*math.log(p,2)
        entropy+=e*(subtotal/total)
    IG=class_entropy-entropy
    print("Information Gain for the attribute ", attribute, "is ", IG)
    return IG

def classification_error(attribute,outcome,data):
    total=len(data)
    print(data[attribute].unique())
    error=0
    print("The overal errot is", error)
    for branch in data[attribute].unique():
        subtable=data[data[attribute]==branch]
        subtotal=len(subtable)
        e=0
        print(subtotal)
        for classes in subtable[outcome].unique():
            p=float(len(subtable[subtable[outcome]==classes])/subtotal)
            if e >= p:
                continue
            else:
                e=p
        error+=(1-e)*(subtotal/total)
    print("Classification for the attribute ",attribute, "is " ,error)
    return error

###### Problem 2

##### a. Compute the Gini index for the overall collection of training examples

In [264]:
data=pd.DataFrame({'Customer ID':[*range(1,21)],
      'Gender':['M','M','M','M','M','M','F','F','F','F','M','M','M','M','F','F','F','F','F','F'],
      'Car Type':['Family','Sports','Sports','Sports','Sports','Sports','Sports','Sports','Sports','Luxury','Family','Family','Family','Luxury','Luxury','Luxury','Luxury','Luxury','Luxury','Luxury'],
      'Shirt Size':['Small','Medium','Medium','Large','Extra Large','Extra Large','Small','Small','Medium','Large','Large','Extra Large','Medium','Extra Large','Small','Small','Medium','Medium','Medium','Large'],
      'Class':['C0','C0','C0','C0','C0','C0','C0','C0','C0','C0','C1','C1','C1','C1','C1','C1','C1','C1','C1','C1']})
print(data)
total=len(data)
sum=0
for classes in data['Class'].unique():
        p=float(len(data[data['Class']==classes])/total)
        sum+=p*p   
gini=1-sum
print("The overall Gini Index is ",gini)

    Customer ID Gender Car Type   Shirt Size Class
0             1      M   Family        Small    C0
1             2      M   Sports       Medium    C0
2             3      M   Sports       Medium    C0
3             4      M   Sports        Large    C0
4             5      M   Sports  Extra Large    C0
5             6      M   Sports  Extra Large    C0
6             7      F   Sports        Small    C0
7             8      F   Sports        Small    C0
8             9      F   Sports       Medium    C0
9            10      F   Luxury        Large    C0
10           11      M   Family        Large    C1
11           12      M   Family  Extra Large    C1
12           13      M   Family       Medium    C1
13           14      M   Luxury  Extra Large    C1
14           15      F   Luxury        Small    C1
15           16      F   Luxury        Small    C1
16           17      F   Luxury       Medium    C1
17           18      F   Luxury       Medium    C1
18           19      F   Luxury       Medium    C1
19           20      F   Luxury        Large    C1
The overall Gini Index is  0.5

##### b. Compute the Gini index for the Customer ID attribute

In [265]:
attribute='Customer ID'
outcome='Class'
gini_index(attribute,outcome,data)

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20]
The overall Gini Index is  0.5
1
0.0
1
0.0
1
0.0
1
0.0
1
0.0
1
0.0
1
0.0
1
0.0
1
0.0
1
0.0
1
0.0
1
0.0
1
0.0
1
0.0
1
0.0
1
0.0
1
0.0
1
0.0
1
0.0
1
0.0
Gini Index for the attribute  Customer ID is  0.0
The Gain of Gini Index for the attribute  Customer ID is  0.5

0.0

##### c. Compute the Gini index for the Gender attribute

In [266]:
attribute='Gender'
outcome='Class'
gini_index(attribute,outcome,data)

['M' 'F']
The overall Gini Index is  0.5
10
0.48
10
0.48
Gini Index for the attribute  Gender is  0.48
The Gain of Gini Index for the attribute  Gender is  0.020000000000000018

0.48

##### d. Compute the Gini index for the Car Type attribute using multiple split.

In [267]:
attribute='Car Type'
outcome='Class'
gini_index(attribute,outcome,data)

['Family' 'Sports' 'Luxury']
The overall Gini Index is  0.5
4
0.375
8
0.0
8
0.21875
Gini Index for the attribute  Car Type is  0.16250000000000003
The Gain of Gini Index for the attribute  Car Type is  0.33749999999999997

0.16250000000000003

##### e.	Compute the Gini index for the Shirt Size attribute using multiple split.

In [268]:
attribute='Shirt Size'
outcome='Class'
gini_index(attribute,outcome,data)

['Small' 'Medium' 'Large' 'Extra Large']
The overall Gini Index is  0.5
5
0.48
7
0.48979591836734704
4
0.5
4
0.5
Gini Index for the attribute  Shirt Size is  0.49142857142857144
The Gain of Gini Index for the attribute  Shirt Size is  0.008571428571428563

0.49142857142857144

##### Problem 3

In [269]:
data=pd.DataFrame({'Instance':[*range(1,10)],
      'a1':['T','T','T','F','F','F','F','T','F'],
      'a2':['T','T','F','F','T','T','F','F','T'],
      'a3':[1,6,5,4,7,3,8,7,5],
      'Target Class':['+','+','-','+','-','-','-','+','-']})
data

   Instance a1 a2  a3 Target Class
0         1  T  T   1            +
1         2  T  T   6            +
2         3  T  F   5            -
3         4  F  F   4            +
4         5  F  T   7            -
5         6  F  T   3            -
6         7  F  F   8            -
7         8  T  F   7            +
8         9  F  T   5            -

##### a.	What is the entropy of this collection of training examples with respect to the positive class?

In [270]:
attribute='Target Class'
outcome='Target Class'
entropy(attribute,outcome,data)

The overal entropy is 0.9910760598382222
['+' '-']
4
5
Information Gain for the attribute  Target Class is  0.9910760598382222

0.9910760598382222

##### b. What are the information gains of a1  and a2  relative to these training examples?

In [271]:
attribute='a1'
outcome='Target Class'
entropy(attribute,outcome,data)
attribute='a2'
outcome='Target Class'
entropy(attribute,outcome,data)

The overal entropy is 0.9910760598382222
['T' 'F']
4
5
Information Gain for the attribute  a1 is  0.22943684069673975
The overal entropy is 0.9910760598382222
['T' 'F']
5
4
Information Gain for the attribute  a2 is  0.007214618474517431

0.007214618474517431

##### c.	For a3,  which is a continues attribute, compute the information gain for every possible split.

In [272]:
attribute='a3'
outcome='Target Class'
entropy(attribute,outcome,data,split_val=1.5)
print(data)
entropy(attribute,outcome,data,split_val=3.5)
print(data)
entropy(attribute,outcome,data,split_val=4.5)
print(data)
entropy(attribute,outcome,data,split_val=5.5)
print(data)
entropy(attribute,outcome,data,split_val=6.5)
print(data)
entropy(attribute,outcome,data,split_val=7.5)
print(data)

For Split Value:  1.5
The overal entropy is 0.9910760598382222
[0 1]
1
8
Information Gain for the attribute  new is  0.14269027946047563
   Instance a1 a2  a3 Target Class  new
0         1  T  T   1            +    0
1         2  T  T   6            +    1
2         3  T  F   5            -    1
3         4  F  F   4            +    1
4         5  F  T   7            -    1
5         6  F  T   3            -    1
6         7  F  F   8            -    1
7         8  T  F   7            +    1
8         9  F  T   5            -    1
For Split Value:  3.5
The overal entropy is 0.9910760598382222
[0 1]
2
7
Information Gain for the attribute  new is  0.0025652873671375698
   Instance a1 a2  a3 Target Class  new
0         1  T  T   1            +    0
1         2  T  T   6            +    1
2         3  T  F   5            -    1
3         4  F  F   4            +    1
4         5  F  T   7            -    1
5         6  F  T   3            -    0
6         7  F  F   8            -    1
7         8  T  F   7            +    1
8         9  F  T   5            -    1
For Split Value:  4.5
The overal entropy is 0.9910760598382222
[0 1]
3
6
Information Gain for the attribute  new is  0.07278022578373267
   Instance a1 a2  a3 Target Class  new
0         1  T  T   1            +    0
1         2  T  T   6            +    1
2         3  T  F   5            -    1
3         4  F  F   4            +    0
4         5  F  T   7            -    1
5         6  F  T   3            -    0
6         7  F  F   8            -    1
7         8  T  F   7            +    1
8         9  F  T   5            -    1
For Split Value:  5.5
The overal entropy is 0.9910760598382222
[0 1]
5
4
Information Gain for the attribute  new is  0.007214618474517431
   Instance a1 a2  a3 Target Class  new
0         1  T  T   1            +    0
1         2  T  T   6            +    1
2         3  T  F   5            -    0
3         4  F  F   4            +    0
4         5  F  T   7            -    1
5         6  F  T   3            -    0
6         7  F  F   8            -    1
7         8  T  F   7            +    1
8         9  F  T   5            -    0
For Split Value:  6.5
The overal entropy is 0.9910760598382222
[0 1]
6
3
Information Gain for the attribute  new is  0.018310781820059074
   Instance a1 a2  a3 Target Class  new
0         1  T  T   1            +    0
1         2  T  T   6            +    0
2         3  T  F   5            -    0
3         4  F  F   4            +    0
4         5  F  T   7            -    1
5         6  F  T   3            -    0
6         7  F  F   8            -    1
7         8  T  F   7            +    1
8         9  F  T   5            -    0
For Split Value:  7.5
The overal entropy is 0.9910760598382222
[0 1]
8
1
Information Gain for the attribute  new is  0.10218717094933338
   Instance a1 a2  a3 Target Class  new
0         1  T  T   1            +    0
1         2  T  T   6            +    0
2         3  T  F   5            -    0
3         4  F  F   4            +    0
4         5  F  T   7            -    0
5         6  F  T   3            -    0
6         7  F  F   8            -    1
7         8  T  F   7            +    0
8         9  F  T   5            -    0

##### e.	What is the best split (between a1 and a2 ) according to the classification error rate?

In [273]:
attribute='a1'
outcome='Target Class'
classification_error(attribute,outcome,data)
attribute='a2'
outcome='Target Class'
classification_error(attribute,outcome,data)

['T' 'F']
The overal errot is 0
4
5
Classification for the attribute  a1 is  0.2222222222222222
['T' 'F']
The overal errot is 0
5
4
Classification for the attribute  a2 is  0.4444444444444444

0.4444444444444444

###### f. 	What is the best split (between a1 and a2) according to the Gini Index?

In [274]:
attribute='a1'
outcome='Target Class'
gini_index(attribute,outcome,data)
attribute='a2'
outcome='Target Class'
gini_index(attribute,outcome,data)

['T' 'F']
The overall Gini Index is  0.49382716049382713
4
0.375
5
0.31999999999999984
Gini Index for the attribute  a1 is  0.34444444444444433
The Gain of Gini Index for the attribute  a1 is  0.1493827160493828
['T' 'F']
The overall Gini Index is  0.49382716049382713
5
0.48
4
0.5
Gini Index for the attribute  a2 is  0.4888888888888889
The Gain of Gini Index for the attribute  a2 is  0.00493827160493826

0.4888888888888889

##### Problem 5

In [275]:
data=pd.DataFrame({'A':['T','T','T','T','T','F','F','F','T','T'],
      'B':['F','T','T','F','T','F','F','F','T','F'],
      'Class Label':['+','+','+','-','+','-','-','-','-','-']})
data

   A  B Class Label
0  T  F           +
1  T  T           +
2  T  T           +
3  T  F           -
4  T  T           +
5  F  F           -
6  F  F           -
7  F  F           -
8  T  T           -
9  T  F           -

##### a.	Calculate the information gain when splitting on A and B. Which attribute would the decision tree induction algorithm choose?

In [276]:
attribute='A'
outcome='Class Label'
entropy(attribute,outcome,data)
attribute='B'
outcome='Class Label'
entropy(attribute,outcome,data)

The overal entropy is 0.9709505944546686
['T' 'F']
7
3
Information Gain for the attribute  A is  0.2812908992306925
The overal entropy is 0.9709505944546686
['F' 'T']
6
4
Information Gain for the attribute  B is  0.256425891682003

0.256425891682003

##### b.	Calculate the gain in the Gini index when splitting on A and B. Which attribute would the decision tree induction algorithm choose?

In [277]:
attribute='A'
outcome='Class Label'
gini_index(attribute,outcome,data)
attribute='B'
outcome='Class Label'
gini_index(attribute,outcome,data)

['T' 'F']
The overall Gini Index is  0.48
7
0.48979591836734704
3
0.0
Gini Index for the attribute  A is  0.3428571428571429
The Gain of Gini Index for the attribute  A is  0.13714285714285707
['F' 'T']
The overall Gini Index is  0.48
6
0.2777777777777777
4
0.375
Gini Index for the attribute  B is  0.31666666666666665
The Gain of Gini Index for the attribute  B is  0.16333333333333333

0.31666666666666665

##### problem 6

In [303]:
data=pd.DataFrame({'X':[0,0,0,0,1,1,1,1],
      'Y':[0,0,1,1,0,0,1,1],
      'Z':[0,1,0,1,0,1,0,1],
      'No. of Class C1 Examples':[5,0,10,45,10,25,5,0],
      'No. of Class C2 Examples':[40,15,5,0,5,0,20,15]})
data

   X  Y  Z  No. of Class C1 Examples  No. of Class C2 Examples
0  0  0  0                         5                        40
1  0  0  1                         0                        15
2  0  1  0                        10                         5
3  0  1  1                        45                         0
4  1  0  0                        10                         5
5  1  0  1                        25                         0
6  1  1  0                         5                        20
7  1  1  1                         0                        15

##### a.	Compute a two-level decision tree using the greedy approach described in this chapter. Use the classification error rate as the criterion for splitting. What is the overall error rate of the induced tree?

In [328]:
def error_rate(attribute,outcome1,outcome2,data):
    data[attribute]=data[attribute].astype(str)
    print(data[attribute].unique())
    error=0
    p=0
    total=data[outcome1].sum()+data[outcome2].sum()
    print("The total number of examples is: ", total)
    for branch in data[attribute].unique():
        subtable=data[data[attribute]==branch]
        total_outcome1=subtable[outcome1].sum()
        total_outcome2=subtable[outcome2].sum()
        p1=total_outcome1
        p2=total_outcome2
        print("The ", outcome1, " class number of for attribute ",attribute,branch, "is ", p1)
        print("The ", outcome2, " class number of for attribute ",attribute,branch, "is ", p2)
        p+=min(p1,p2)
    error=p/total
    print("Error Rate for the attribute ",attribute, "is " ,error)
    return error
print(data)
## First level
attribute='X'
outcome1='No. of Class C1 Examples'
outcome2='No. of Class C2 Examples'
error_rate(attribute,outcome1,outcome2,data)
attribute='Y'
error_rate(attribute,outcome1,outcome2,data)
attribute='Z'
error_rate(attribute,outcome1,outcome2,data)

## Second Level
subdata=data[data['Z']=='0']
print(subdata)
attribute='X'
outcome1='No. of Class C1 Examples'
outcome2='No. of Class C2 Examples'
error_rate(attribute,outcome1,outcome2,subdata)
attribute='Y'
error_rate(attribute,outcome1,outcome2,subdata)

subdata=data[data['Z']=='1']
print(subdata)
attribute='X'
outcome1='No. of Class C1 Examples'
outcome2='No. of Class C2 Examples'
error_rate(attribute,outcome1,outcome2,subdata)
attribute='Y'
error_rate(attribute,outcome1,outcome2,subdata)

   X  Y  Z  No. of Class C1 Examples  No. of Class C2 Examples
0  0  0  0                         5                        40
1  0  0  1                         0                        15
2  0  1  0                        10                         5
3  0  1  1                        45                         0
4  1  0  0                        10                         5
5  1  0  1                        25                         0
6  1  1  0                         5                        20
7  1  1  1                         0                        15
['0' '1']
The total number of examples is:  200
The  No. of Class C1 Examples  class number of for attribute  X 0 is  60
The  No. of Class C2 Examples  class number of for attribute  X 0 is  60
The  No. of Class C1 Examples  class number of for attribute  X 1 is  40
The  No. of Class C2 Examples  class number of for attribute  X 1 is  40
Error Rate for the attribute  X is  0.5
['0' '1']
The total number of examples is:  200
The  No. of Class C1 Examples  class number of for attribute  Y 0 is  40
The  No. of Class C2 Examples  class number of for attribute  Y 0 is  60
The  No. of Class C1 Examples  class number of for attribute  Y 1 is  60
The  No. of Class C2 Examples  class number of for attribute  Y 1 is  40
Error Rate for the attribute  Y is  0.4
['0' '1']
The total number of examples is:  200
The  No. of Class C1 Examples  class number of for attribute  Z 0 is  30
The  No. of Class C2 Examples  class number of for attribute  Z 0 is  70
The  No. of Class C1 Examples  class number of for attribute  Z 1 is  70
The  No. of Class C2 Examples  class number of for attribute  Z 1 is  30
Error Rate for the attribute  Z is  0.3
   X  Y  Z  No. of Class C1 Examples  No. of Class C2 Examples
0  0  0  0                         5                        40
2  0  1  0                        10                         5
4  1  0  0                        10                         5
6  1  1  0                         5                        20
['0' '1']
The total number of examples is:  100
The  No. of Class C1 Examples  class number of for attribute  X 0 is  15
The  No. of Class C2 Examples  class number of for attribute  X 0 is  45
The  No. of Class C1 Examples  class number of for attribute  X 1 is  15
The  No. of Class C2 Examples  class number of for attribute  X 1 is  25
Error Rate for the attribute  X is  0.3
['0' '1']
The total number of examples is:  100
The  No. of Class C1 Examples  class number of for attribute  Y 0 is  15
The  No. of Class C2 Examples  class number of for attribute  Y 0 is  45
The  No. of Class C1 Examples  class number of for attribute  Y 1 is  15
The  No. of Class C2 Examples  class number of for attribute  Y 1 is  25
Error Rate for the attribute  Y is  0.3
   X  Y  Z  No. of Class C1 Examples  No. of Class C2 Examples
1  0  0  1                         0                        15
3  0  1  1                        45                         0
5  1  0  1                        25                         0
7  1  1  1                         0                        15
['0' '1']
The total number of examples is:  100
The  No. of Class C1 Examples  class number of for attribute  X 0 is  45
The  No. of Class C2 Examples  class number of for attribute  X 0 is  15
The  No. of Class C1 Examples  class number of for attribute  X 1 is  25
The  No. of Class C2 Examples  class number of for attribute  X 1 is  15
Error Rate for the attribute  X is  0.3
['0' '1']
The total number of examples is:  100
The  No. of Class C1 Examples  class number of for attribute  Y 0 is  25
The  No. of Class C2 Examples  class number of for attribute  Y 0 is  15
The  No. of Class C1 Examples  class number of for attribute  Y 1 is  45
The  No. of Class C2 Examples  class number of for attribute  Y 1 is  15
Error Rate for the attribute  Y is  0.3

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

0.3

#####  b.	Repeat part (a) using X as the first splitting attribute and then choose the best remaining attribute for splitting at each of the two successor nodes. What is the error rate of the induced tree?

In [325]:
subdata=data[data['X']=='0']
print(subdata)
attribute='Y'
outcome1='No. of Class C1 Examples'
outcome2='No. of Class C2 Examples'
error_rate(attribute,outcome1,outcome2,subdata)
attribute='Z'
error_rate(attribute,outcome1,outcome2,subdata)

subdata=data[data['X']=='1']
print(subdata)
attribute='Y'
outcome1='No. of Class C1 Examples'
outcome2='No. of Class C2 Examples'
error_rate(attribute,outcome1,outcome2,subdata)
attribute='Z'
error_rate(attribute,outcome1,outcome2,subdata)

   X  Y  Z  No. of Class C1 Examples  No. of Class C2 Examples
0  0  0  0                         5                        40
1  0  0  1                         0                        15
2  0  1  0                        10                         5
3  0  1  1                        45                         0
['0' '1']
The total number of examples is:  120
The  No. of Class C1 Examples  class number of for attribute  Y 0 is  5
The  No. of Class C2 Examples  class number of for attribute  Y 0 is  55
The  No. of Class C1 Examples  class number of for attribute  Y 1 is  55
The  No. of Class C2 Examples  class number of for attribute  Y 1 is  5
Error Rate for the attribute  Y is  0.08333333333333333
['0' '1']
The total number of examples is:  120
The  No. of Class C1 Examples  class number of for attribute  Z 0 is  15
The  No. of Class C2 Examples  class number of for attribute  Z 0 is  45
The  No. of Class C1 Examples  class number of for attribute  Z 1 is  45
The  No. of Class C2 Examples  class number of for attribute  Z 1 is  15
Error Rate for the attribute  Z is  0.25
   X  Y  Z  No. of Class C1 Examples  No. of Class C2 Examples
4  1  0  0                        10                         5
5  1  0  1                        25                         0
6  1  1  0                         5                        20
7  1  1  1                         0                        15
['0' '1']
The total number of examples is:  80
The  No. of Class C1 Examples  class number of for attribute  Y 0 is  35
The  No. of Class C2 Examples  class number of for attribute  Y 0 is  5
The  No. of Class C1 Examples  class number of for attribute  Y 1 is  5
The  No. of Class C2 Examples  class number of for attribute  Y 1 is  35
Error Rate for the attribute  Y is  0.125

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

['0' '1']
The total number of examples is:  80
The  No. of Class C1 Examples  class number of for attribute  Z 0 is  15
The  No. of Class C2 Examples  class number of for attribute  Z 0 is  25
The  No. of Class C1 Examples  class number of for attribute  Z 1 is  25
The  No. of Class C2 Examples  class number of for attribute  Z 1 is  15
Error Rate for the attribute  Z is  0.375

0.375

##### Problem 13

In [422]:
data=pd.DataFrame({'X':[0.5,3,4.5,4.6,4.9,5.2,5.3,5.5,7,9.5],
      'Y':['-','-','+','+','+','-','-','+','-','-']})
data

     X  Y
0  0.5  -
1  3.0  -
2  4.5  +
3  4.6  +
4  4.9  +
5  5.2  -
6  5.3  -
7  5.5  +
8  7.0  -
9  9.5  -

##### a.	Classify the data point x=5.0 according to its 1-, 3-, 5-, and 9-nearest neighbors (using majority vote).

In [423]:
def nearest_neighbor(new_x,data,k):
    data['distance']=''
    data['distance']=abs(data['X']-new_x)
    subdata=data.sort_values('distance',ascending = True).head(k)
    print(subdata)
    sublist=subdata['Y'].tolist()
    pred=max(set(sublist), key = sublist.count)
    print("The prediction of ", k ,'-nearest neighbors is: ', pred)
    return pred

new_x=5
k_list=[1,3,5,9]
pred_list=[]
for i in k_list:
    pred=nearest_neighbor(new_x,data,i)
    pred_list.append(pred)
print(pred_list)
pred=max(set(pred_list), key = pred_list.count)
print("The majority vote prediction of ", k_list ,'-nearest neighbors is: ', pred)

     X  Y  distance
4  4.9  +       0.1
The prediction of  1 -nearest neighbors is:  +
     X  Y  distance
4  4.9  +       0.1
5  5.2  -       0.2
6  5.3  -       0.3
The prediction of  3 -nearest neighbors is:  -
     X  Y  distance
4  4.9  +       0.1
5  5.2  -       0.2
6  5.3  -       0.3
3  4.6  +       0.4
2  4.5  +       0.5
The prediction of  5 -nearest neighbors is:  +
     X  Y  distance
4  4.9  +       0.1
5  5.2  -       0.2
6  5.3  -       0.3
3  4.6  +       0.4
2  4.5  +       0.5
7  5.5  +       0.5
1  3.0  -       2.0
8  7.0  -       2.0
0  0.5  -       4.5
The prediction of  9 -nearest neighbors is:  -
['+', '-', '+', '-']
The majority vote prediction of  [1, 3, 5, 9] -nearest neighbors is:  +

##### b.	Repeat the previous analysis using the distance-weighted voting approach described in Section 5.2.1.

In [437]:
def weighted_nearest_neighbor(new_x,data,k):
    data['distance']=''
    data['weight']=''
    data['distance']=abs(data['X']-new_x)
    data['weight']=1/((data['X']-new_x)*(data['X']-new_x))
    subdata=data.sort_values('distance',ascending = True).head(k)
    print(subdata)
    pos_weighted_vote=0
    neg_weighted_vote=0
    for i in subdata.index:
        if subdata['Y'][i]=='+':
            pos_weighted_vote+=subdata['weight'][i]
        else:
            neg_weighted_vote+=subdata['weight'][i]
    if pos_weighted_vote>=neg_weighted_vote:
        pred='+'
    else:
        pred='-'
    print("The prediction of ", k ,'-nearest neighbors is: ', pred)
    return pred

new_x=5
k_list=[1,3,5,9]
pred_list=[]
for i in k_list:
    pred=weighted_nearest_neighbor(new_x,data,i)
    pred_list.append(pred)
print(pred_list)
pred=max(set(pred_list), key = pred_list.count)
print("The weighted-distance vote prediction of ", k_list ,'-nearest neighbors is: ', pred)

     X  Y  distance  weight
4  4.9  +       0.1   100.0
The prediction of  1 -nearest neighbors is:  +
     X  Y  distance      weight
4  4.9  +       0.1  100.000000
5  5.2  -       0.2   25.000000
6  5.3  -       0.3   11.111111
The prediction of  3 -nearest neighbors is:  +
     X  Y  distance      weight
4  4.9  +       0.1  100.000000
5  5.2  -       0.2   25.000000
6  5.3  -       0.3   11.111111
3  4.6  +       0.4    6.250000
2  4.5  +       0.5    4.000000
The prediction of  5 -nearest neighbors is:  +
     X  Y  distance      weight
4  4.9  +       0.1  100.000000
5  5.2  -       0.2   25.000000
6  5.3  -       0.3   11.111111
3  4.6  +       0.4    6.250000
2  4.5  +       0.5    4.000000
7  5.5  +       0.5    4.000000
1  3.0  -       2.0    0.250000
8  7.0  -       2.0    0.250000
0  0.5  -       4.5    0.049383
The prediction of  9 -nearest neighbors is:  +
['+', '+', '+', '+']
The weighted-distance vote prediction of  [1, 3, 5, 9] -nearest neighbors is:  +